header { 
	color: white;
	background-color: #4d4dff;

}

#title { 
	text-align: center;
	font-size: 2em;
	background-color: #4d4dff;

}

button {
	background-color:#4d4dff;
	border-color:#8c8cff;
	color: white;
}

#mapLoading {
    width: 100%;
    height: 30em;
    background-image: url('/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#googleMap { 
	width: 100%;
	height:100%;
}
.dropdownButton {
	float : right;
	display: inline-block;
	position: relative;
}

.dropdownButton > ul li {
	margin: 2em;
}

#unkown-slipways, .bootstrap-switch { 
	margin-left: 1.5em;
}

#submit-filter { 
	background-color: #4d4dff;
}

#addButton { 
	display: inline-block;
	position: relative;

}
#searchBox{
	display: block;
	position: relative;
	text-align: center;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 20;
}