<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boatlaunch</title>
</head>

<body>
    <h1>Boatlaunch</h1>
    <button onclick="addNewSlipway()" type="button">Add New Slipway</button>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <div id="slipwayInfo" style="width:500px;height:380px;"></div>
    <script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script src="/utils.js" type="text/javascript"></script>
    <script src="/map.js" type="text/javascript"></script>
    <script src="/main.js" type="text/javascript"></script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=boom" defer></script> 
    
    <script src="/showSlipwayDetails.js" type="text/javascript"></script>
    <script src="/addNewSlipway.js" type="text/javascript"></script>
    <script src="/editSlipwayDetails.js" type="text/javascript"></script>
    <script src="/submitNewSlipwayDetails.js" type="text/javascript"></script>
    <script src="/submitSlipwayDetails.js" type="text/javascript"></script>
</body>

</html>
