<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap and jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link href="/static/bootstrap-switch.css" rel="stylesheet">
    <link href="/custom.css" rel="stylesheet">
    <script src="/static/bootstrap-switch.js"></script>
    <title>Boatlaunch</title>
</head>

<body>
    <div>
        <nav id="navigation">
            <a href="#upDownButton" >
                <button class="btn btn-default btn-md " onclick="showNewSlipwayForm()" type="button">Add New Slipway</button>
            </a>
            <div class="col-xs-2">
            </div>
            <div class=" dropdownButton">
                <button class="btn btn-default btn-md dropdown-toggle dropdownButton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Filter by Suitability
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right noclose" aria-labelledby="dropdownMenu1">
                    <div class="btn-group" data-toggle="buttons">
                        <li>
                            <label class="btn-default btn-block">
                                <input type="radio" id="portable" name="radio" value="portable" checked /> Portable (all slipways)
                            </label>
                        </li>
                        <li>
                            <label class="btn-default btn-block">
                                <input type="radio" id="small" name="radio" value="small" /> Small trailer can be pushed
                            </label>
                        </li>
                        <li>
                            <label class="btn-default btn-block">
                                <input type="radio" id="large" name="radio" value="large" /> Large trailer needs a car
                            </label>
                        </li>
                    </div>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Show unknown slipways<input type="checkbox" id="unknown-slipways" name="unknown-slipways" checked></a></li>
                    <li><a href="#" id="submit-filter" class="btn btn-primary btn-lg btn-sm active" role="button">Filter</a></li>
                </ul>
            </div>
        </nav>
        <div id="mapLoading" ;>
            <input id="pac-input" class="controls" type="text" placeholder="Search location">
            <div id="googleMap"></div>

            <div id="slipwayInfo"></div>
        </div>
        <!--https://github.com/mahnunchik/markerclustererplus/blob/master/dist/markerclusterer.min.js-->
        <script src="/static/markerclusterer.min.js"></script>
        <script src="/utils.js" type="text/javascript"></script>
        <script src="/map.js" type="text/javascript"></script>
        <script src="/main.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places" defer></script>
        <script src="/showSlipwayDetails.js" type="text/javascript"></script>
        <script src="/showNewSlipwayForm.js" type="text/javascript"></script>
        <script src="/showEditSlipwayForm.js" type="text/javascript"></script>
        <script src="/submitNewSlipwayDetails.js" type="text/javascript"></script>
        <script src="/submitSlipwayDetails.js" type="text/javascript"></script>
        <script src="/filterSlipways.js" type="text/javascript"></script>
        <script>
          function scrollTo(to, duration) {
              if (document.body.scrollTop == to) return;
              var diff = to - document.body.scrollTop;
              var scrollStep = Math.PI / (duration / 10);
              var count = 0, currPos;
              start = document.body.scrollTop;
              scrollInterval = setInterval(function(){
                  if (document.body.scrollTop != to) {
                      count = count + 1;
                      currPos = start + diff * (0.5 - 0.5 * Math.cos(count * scrollStep));
                      document.body.scrollTop = currPos;
                  }
                  else { clearInterval(scrollInterval); }
              },10);
          }

          function test(elID)
          {
              var dest = document.getElementById(elID);
              scrollTo(dest.offsetTop, 500);
          }
        </script>
</body>

</html>
